---
layout: default
title: "Despăgubiri Accidente Auto. Daune Materiale și Morale"
description: >-
  Avocat specializat în despăgubiri din accidente auto și asigurări RCA.
  Recuperăm daune materiale și morale pentru victimele accidentelor.
  Consultație gratuită, București.
image: /assets/images/varzaru-logo.png
---

{% include hero.html %}
{% include rca.html %}
{% include servicii.html %}
{% include despre.html %}
{% include afilieri.html %}
{% include intrebari.html %}
{% include testimoniale.html %}
{% include contact.html %}
